.products {

  .product{
    position: relative;
    border: 1px solid white;
    border-radius:10px;
    -moz-border-radius: 10px;

    .img {
      //position: relative;
      height: 310px;
    }
    .info{
      //position: absolute;
      text-align:center;
      height: 80px;
    }
    .button-add-store{
      height: 40px;
      width: 250px;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (max-width: 990px) {

      //.product {
        //position: relative;
        //margin-bottom: 40px;
        .info {
          text-align: center;
          height: 90px;
          width: 250px;
          margin-left: auto;
          margin-right: auto;
        }
        .button-add-store {
          text-align: center;
          height: 40px;
          width: 250px;
          margin-left: auto;
          margin-right: auto;
        }
      //}
    }
  }
}